
<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="cat" %>
<ul class="categories">
  <% @categories.each do |category| %>
  <li>
    <div class="link">
    <%= link_to resources_path(:category => category[1]) do %>
      <div class = "big_circle">
        <%= image_tag("#{ category[0] }.png") %>
	<p><%= category[0] %></p>
      </div>
      </div>
      <% end %>
      <div class = "new_resource_link">
      <%= link_to new_resource_path(:category => category[1]) do %>
        <%= image_tag("plus.png") %>
	<% end %>
      </div>
  </li>
  <% end %>
</ul>
</div>




<div class="newsfeed">
  <div class="inner">
    <% @comments.each do |comment| %>
    <% @resource = Resource.find_by(id: comment.resource_id) %>
    <% @category = @resource.category_id %>
    <div class="underline"><strong><%= Resource.names.key(@category) %></strong></div>
    <%= link_to @resource.name, @resource %> was reviewed by <%= comment.user.name %>
    <br />
    <%= comment.updated_at.to_date %>
    <br />
    <% end %>
    
    <!--<p class="underline">Legal</p>
    <p><span class="highlight">Adam Dinow at Wilson, Sonsini, Goodrich and Rosoti</span> was reviewed by <span class="highlight">Gil Addo from RubiconMD</span></p>
    <p class="underline">Accounting</p>
    <p><span class="higlight">Joshua Azran at Azran Financials</span> was reviewed by <span class="highlight">Samir Malik from iMedicare</span></p>
    <p class="underline">UI and UX Design</p>
    <p><span class="highlight">Elia Kanaki at Rossul</span> was reviewed by <span class="highlight">Matthew Loper from Wellth</span></p>
    <p class="underline">Marketing</p>
    <p><span class="highlight">Jacob Broude at Saotchi</span></p>-->
  </div>
</div>


<% else %>
<div class="homepage">
<!--<div class="signup-button">
  <%= link_to "Sign Up", 'users/new' %>
</div>-->
</div>
<% end %>
