<% provide(:title, "Home") %>

<ul class = "categories">
  <% @categories.each do |category| %>
  <li>
    <%= link_to resources_path(:category => category[1]) do %>
      <div class = "big_circle">
	  <%= image_tag("#{ category[0] }.png") %>
	  <p><%= category[0] %></p>
      </div>
      <% end %>
      <div class = "new_resource_link">
      <%= link_to new_resource_path(:category => category[1]) do %>
        <p>+</p>
	<% end %>
	</div>
  </li>
  <% end %>
</ul>

<%= link_to "Sign Up", 'users/new' %>
