<div class="underline">
<li id="comment-<%= comment.id %> ">
  <!-- <%= link_to comment.resource.name, comment.resource %> -->
   <%= comment.content %>
   <br />
   <% @user = current_user %>
   Rating: <%= comment.rating %> stars
   <br />
   User: <%= @user.name %>
</li>
</div>
