<h1>Comment</h1>

<%= @resource.inspect %>

<div>
  <%= form_for @comment, url: {action: "create" } do |f| %>

  <%= f.label :Comment %>
  <%= f.text_field :content %>
  <br />

  <%= f.label :Rating %>
  <%= radio_button :comment, :rating, 1 %>
  <%= radio_button :comment, :rating, 2 %>
  <%= radio_button :comment, :rating, 3 %>
  <%= radio_button :comment, :rating, 4 %>
  <%= radio_button :comment, :rating, 5 %>
  <br />  

  <%= @resource_id %>
  <%= f.hidden_field :resource_id, :value =>  @resource_id %>
  <!-- Submits correct resource with form -->

  <%= @user_id %>
  <%= f.hidden_field :user_id :value => @user.id %>
  
  <%= f.submit "Comment" %>
  <% end %>
</div>
