<div class="comment-form">
<%= form_for([@resource, @resource.comments.build]) do |f| %>
  <div>
   <%= f.label :Rating %>
   <%= radio_button :comment, :rating, 1 %>
   <%= radio_button :comment, :rating, 2 %>
   <%= radio_button :comment, :rating, 3 %>
   <%= radio_button :comment, :rating, 4 %>
   <%= radio_button :comment, :rating, 5 %>
  </div>
  
  <div>
    <%= f.text_field :content, placeholder: "Add your comment here...",  class: 'form-control' %>
    </div>
  
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="comment">
    <%= f.submit "Comment" %>
  </div>
  <% end %>
</div>
