<% provide(:title, @category_name) %>

<div class="category_names">
  <%= link_to @category_name, resources_path(:category => @category_id) %>
</div>

<div class="resource-link pull-right">
<%= link_to new_resource_path(:category => @category_id) do %>
<%= image_tag("plus.png", size:"20") %>Create a New <%= @category_name %> Resource
<% end %>
</div>

<table width='100%'>
    <% @resources.each do |resource| %>
    <tr class="bottom-border">
    <td class="space" width="25%"><%= link_to resource.name, resource %></td>
    <td class="space" width="25%"><%= resource.email %></td>
    <td class="space">
    <% if resource.average_rating != "undefined" %>
    Average Rating: <%= resource.average_rating %> stars
    <% else %>
    Be the first to rate <%= resource.name %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>




