bun<h1>Resources Index</h1>

<%= @resources.each do |resource| %>

<%= resource.name %>
<%= resource.email %>
<%= resource.category %>
<br />

<% end %>

<%= link_to "Create a New Resource", new_resource_path %>


