<h1>Resources Index</h1>

<%= @category[0] %>

<br />
<%= @resources.each do |resource| %>
<%= resource.name %>
<%= resource.email %>
<%= resource.category %>
<br />

<% end %>

<%= @category[1] %>

<%= link_to "Create a New Resource", new_resource_path(:id => @category[1]) %>


