<h1>Add resource</h1>

<%= params[:id] %>

<div>
  <div>
  <%= form_for @resource, url: { action: "create" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br />
  <%= f.label :position %>
  <%= f.text_field :position %>
  <br />
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br />
  </div>

  <div>
  <br  />
  <%= f.label :company %>
  <%= f.text_field :company %>
  <br />
  <%= f.label :website %>
  <%= f.url_field :website %>
  <br />
  </div>

  <%= f.hidden_field :category_id, :value => params[:id] %>
  <!-- Submits correct category with form -->
  
  <%= f.submit "Create resource" %>
 <% end %>
</div>
