<% provide(:title, @category_name) %>

<h1>Add <%= @category_name %> resource</h1>

<div>
 <%= form_for @resource, url: { action: "create" } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br />
  <%= f.label :position %>
  <%= f.text_field :position %>
  <br />
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br />

  <br  />
  <%= f.label :company %>
  <%= f.text_field :company %>
  <br />
  <%= f.label :website %>
  <%= f.url_field :website %>
  <br />

  <%= f.hidden_field :category_id, :value => @category_id %>
  <!-- Submits correct category with form -->
  
  <%= f.submit "Create #{ @category_name } resource" %>
 <% end %>
</div>
