<% provide(:title, @category_name) %>

<div class="category_names">
  <%= link_to @category_name, resources_path(:category => @category_id) %>
</div>

<div class="left-align">
  <%= form_for @resource, url: { action: "create" } do |f| %>
  <%= f.label "Name*" %>
  <div class="form-field">
    <%= f.text_field :name, :required => true %>
  </div>
  <%= f.label "Email*" %>
  <div class="form-field">
    <%= f.email_field :email, :required => true %>
  </div>
  <%= f.label :position %>
  <div class="form-field">
  <%= f.text_field :position %>
  </div>
  <%= f.label :location %>
  <div class="form-field">
  <%= f.text_field :location %>
  </div>
  <%= f.label :company %>
  <div class="form-field">
  <%= f.text_field :company %>
  </div>
  <%= f.label :website %>
  <div class="form-field">
  <%= f.text_field :website %>
  </div>


  <%= f.hidden_field :category_id, :value => @category_id %>
  <!-- Submits correct category with form -->

  <div>
    <br />
    <%= f.submit "Create #{ @category_name } resource" %>
  </div>
  <% end %>
</div>

