<h1>Add resource</h1>

<div>
  <%= form_for(@resource) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br />
  <%= f.label :position %>
  <%= f.text_field :position %>
  <br />
  <%= f.label :location %>
  <%= f.text_field :location %>
  <br />

  <br  />
  <%= f.label :company %>
  <%= f.text_field :company %>
  <br />
  <%= f.label :website %>
  <%= f.text_field :website %>
  <br />
  
  <%= f.submit "Create resource" %>
 <% end %>
</div>
