<% provide(:title, @category_name) %>

<div class="category_names">
  <%= link_to @category_name, resources_path(:category => @category_id) %>
</div>

<div class="resource-info">
  <%= form_for @resource, url: { action: "create" } do |f| %>
  <div class="pull-left">
  <div class="form-field">
    <%= f.label "Name*" %>
    <%= f.text_field :name, :required => true,  class: 'form-control' %>
  </div>
  <div class="form-field">
  <%= f.label "Position*" %>
  <%= f.text_field :position,  :required => true,  class: 'form-control' %>
  </div>
  <div class="form-field">
    <%= f.label "Email*" %>
    <%= f.email_field :email, :required => true,  class: 'form-control' %>
  </div>
  </div>
  <div class="right">
   <div class="form-field">
  <%= f.label :location %>
  <%= f.text_field :location,  class: 'form-control' %>
   </div>
  <div class="form-field">
  <%= f.label :company %>
  <%= f.text_field :company,  class: 'form-control' %>
  </div>
  <div class="form-field">
  <%= f.label :website %>
  <%= f.text_field :website,  class: 'form-control' %>
  </div>
  </div>


  <%= f.hidden_field :category_id, :value => @category_id %>
  <!-- Submits correct category with form -->

  <div>
    <br />
    <%= f.submit "Create #{ @category_name } resource" %>
  </div>
  <% end %>
</div>

