<% provide(:title, @category_name) %>

<div>
  <br />
  <br />
  <ul>
    <li><%= @resource.name %></li>
    <li><%= @resource.email %></li>
    <li><%= @resource.position %></li>
    <li><%= @resource.location %></li>
    <li><%= @resource.company %></li>
    <li><%= @resource.website %></li>
  </ul>
</div>

<%= link_to "#{ @category_name } Resources", resources_path(:category => @category_id) %>
<br />

<div>
  <%= render "shared/comment_form" %>
</div>
  
<div>
  <% if @resource.comments.any? %>
  <h3>Comments (<%= @resource.comments.count %>)</h3>
  <ol>
    <%= render @comments %>
  </ol>
  <% end %>
</div>

