<% provide(:title, @category_name) %>

<%= @category %>

<div>
  <ul>
    <li><%= @resource.name %></li>
    <li><%= @resource.email %></li>
    <li><%= @resource.position %></li>
    <li><%= @resource.location %></li>
    <li><%= @resource.company %></li>
    <li><%= @resource.website %></li>
  </ul>
</div>

    <%= link_to "#{ @category_name } Resources", resources_path(:category => @category) %>

