<div>
  <ul>
    <li><%= @resource.name %></li>
    <li><%= @resource.email %></li>
    <li><%= @resource.position %></li>
    <li><%= @resource.location %></li>
    <li></li>
    <li><%= @resource.company %></li>
    <li><%= @resource.website %></li>
  </ul>
</div>
