<% provide(:title, @category_name) %>
<br />
<h3><%= @category_name %></h3>
<table id="container">
<tr class="top">
<td>
<ul>
<li>Name:  <%= @resource.name %></li>
<li>Email:  <%= @resource.email %></li>
<li>Position:  <%= @resource.position %></li>
<li>Location:  <%= @resource.location %></li>
<li>Company:  <%= @resource.company %></li>
<li>Website:  <%= @resource.website %></li>
<li>Created by:  <%= @resource.user %>
</ul>
</td>

<td>
<%= render "shared/comment_form" %>
</td>
</tr>

<tr class="bottom">
<td>
<% if @resource.comments.any? %>
<h4>Comments (<%= @resource.comments.count %>)</h4>
<ol>
<%= render @comments %>
</ol>
<% end %>
<br />
</td>
</tr>

<tr class="bottom">
<td>
<%= link_to "#{ @category_name } Resources", resources_path(:category => @category_id) %>
</td>
</tr>
</table>


