<% provide(:title, @category_name) %>
<div class="category_names">
  <%= link_to @category_name, resources_path(:category => @category_id) %>
</div>
<table id="container">
<tr class="top">
<td>
<ul>
<li>Name:  <%= @resource.name %></li>
<li>Email:  <%= @resource.email %></li>
<li>Position:  <%= @resource.position %></li>
<li>Location:  <%= @resource.location %></li>
<li>Company:  <%= @resource.company %></li>
<li>Website:  <%= @resource.website %></li>
</ul>
</td>

<td colspan="2">
<%= render "shared/comment_form" %>
</td>
</tr>

<tr class="bottom">
  <% if @resource.comments.any? %>
  <td>
    <h4>Comments (<%= @num_comments %>)</h4>
 </td>
  <td>
    <h4>Average Rating: <%= @resource.average_rating %></h4>
  </td>
</tr>
<tr>
<td colspan="3">
<ol>
<%= render @comments %>
</ol>
<% end %>
<br />
</td>
</tr>
</table>


