<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | BluePrintDirectory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to image_tag("bp_logo.png", alt: "Blueprint Health logo"), root_url, class: "navbar-left" %>
      <% if logged_in? %>
      <div class="dropdown navbar-right">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	   <%= current_user.name %>
	   <span class="caret"></span>
	 </button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	   <li><%= link_to "Profile", current_user %></li>
	   <li><%= link_to "Log out", logout_path, method: :delete %></li>
	   </ul>
	</div>
      <% else %>
      <%= link_to " Login ", login_path, class: "navbar-right" %>
      <span class="navbar-right">|</span>
      <%= link_to " Sign Up ", 'users/new', class: "navbar-right" %>
      <% end %>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
